body {background-image:url(coc.jpg);topmargin=20 leftmargin=50;color:white}

h1 {align=center;color:cyan}


font {font size=5 }



.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}



div#myDiv {
  transform: rotate(20deg);
}